.container {
	width: 20%;
	max-width: 1200px;
	margin: auto;
	padding: 10px;
	background: lightblue;
	text-align: justify;

	 h1 {
		font-size: 60px;
		color: black; 
		font-weight: bold;
	}

	h2 { 
		font-size: 25px;
		color: lightblue;
		margin: 15px;
	}

	p {
		font-size: 15px;
		margin: 10px auto ;
		padding: 5px;
	}
} 
