.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 10px;
}
.container h1 {
		font-size: 30px;
		color: black;
		font-weight: bold;
	}

	h2 {
		font-size: 25px;
		color: #667799;
		margin: 15px;
	}

	p {
		font-size: 15px;
		margin: 15px;
		padding: 5px;
	}
